tools/node_modules/
tools/shots/
tools/package-lock.json
tools/morphtest.html
tools/morphcompare.html
tools/morphsdf.html
tools/morphgl.html

# probe QA screenshots (regenerable)
ograf-probe/shots/

# engine QA screenshots (regenerable)
engine/shots/
